$bg: #1a1730;
$bg-darker: #241b2f;

html,
body {
  padding: 0;
  margin: 0;

  // TODO: idk, this feels kinda hacky
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  background: $bg;
}

#root {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $bg-darker;
  display: flex;
}

#root > * {
  margin-right: 0.3rem;
}

#root > #error {
  color: #ff4444;
  white-space: pre-wrap;
}

#root #input,
#root button {
  font-size: 2rem;
}
